footer {
  height: 80px;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #3498db;
}

footer p {
  margin: 2px 0;
  font-size: 0.8rem;
}

footer p:last-child {
  font-weight: bold;
  color: #3498db;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
